@media only screen and (max-width: 1650px) {
  .sc01-img {
    max-width: 600px;
    padding-right: 5rem;
  }

  .sc01-img li:nth-child(2) {
    right: 20%;
    width: 120px;
  }

  .sc01-img li:nth-child(3) {
    right: 0;
    width: 90px;
  }

  .sc01-img li:nth-child(4) {
    width: 110px;
  }

  .sc01-img li:nth-child(5) {
    width: 70px;
  }
}

@media only screen and (max-width: 1366px) {

  .sc04-img {
    width: 300px;
  }

  .sc04-img li:nth-child(2),
  .sc04-img li:nth-child(3) {
    width: 100px;
  }

  .sc05-prase-item {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

@media only screen and (max-width: 1236px) {

  .sc01-img {
    max-width: 600px;
    padding-right: 2rem;
  }

  .sc01-img li:nth-child(2) {
    right: 20%;
    width: 100px;
  }

  .sc01-img li:nth-child(3) {
    width: 70px;
  }

  .sc01-img li:nth-child(4) {
    width: 90px;
  }

  .screen02 {
    padding-bottom: 8rem;
  }

  .screen02::after {
    left: 0;
  }

  .screen02::before {
    right: 0;
    top: 10%;
  }

  .screen02-box {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2rem;
  }

  .screen02-box li:first-child a {
    padding: 2rem 1.5rem;
  }

  .screen02-box li a {
    background: rgba(255, 255, 255, 0.2) url('../images/ic_arr.svg') bottom 1rem right 1rem no-repeat;
    background-size: 18px auto;
  }

  .sc04-img {
    width: 250px;
    left: 5%;
  }

  .sc04-img li:nth-child(2),
  .sc04-img li:nth-child(3) {
    width: 80px;
  }

  .sc05-prase-item {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}


@media only screen and (max-width: 1150px) {
  .sc01-img {
    max-width: 520px;
    padding-right: 0;
    padding-left: 2rem;
  }

  .sc01-img li:nth-child(2) {
    width: 90px;
  }

  .sc01-img li:nth-child(3) {
    width: 60px;
  }

  .sc01-img li:nth-child(4) {
    width: 80px;
    left: 20%;
  }
}

@media only screen and (max-width: 1024px) {

  .screen02-box {
    gap: 2rem;
  }

  .sc04-img {
    width: 220px;
  }

  .sc04-img li:nth-child(2),
  .sc04-img li:nth-child(3) {
    width: 70px;
  }

  .sc05-prase-item {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

@media only screen and (max-width: 992px) {
  body {
    font-size: 14px;
  }

  main {
    padding-top: 59px;
  }

  #content {
    width: 100%;
    margin-left: 0;
    position: relative;
    min-height: calc(100vh - 59px);
    padding: 2rem 1rem;
  }

  #content.active {
    width: 100%;
    margin-left: 0;
  }

  #content .bg-openmenu {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(23, 240, 255, 1);
    opacity: 0.2;
    top: 0;
    z-index: 10;
    left: 0;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  }

  #content.active .bg-openmenu {
    opacity: 0;
    z-index: -1;
  }

  .toggle-menu {
    width: 35px;
    padding: 0.5rem;
    margin-right: 1.5rem;
  }

  .toggle-menu.active img {
    padding-right: 3px;
  }

  #header {
    background: #1d1d45;
    height: 59px;
  }

  #header .container {
    padding: 0.75rem 0.5rem;
  }

  .h-left h1 a {
    width: 35px;
  }

  .h-right a {
    padding: 0.5rem 1.25rem;
  }

  .h-right .h-setting {
    margin-right: 1rem;
    width: 20px;
  }

  #navigation {
    width: 200px;
    padding: 0.5rem 0;
    background: #1d1d45;
    top: 59px;
    height: calc(100% - 59px);
  }

  #navigation.active {
    width: 0;
    border-right: 0;
    opacity: 0;
  }



  #navigation>ul li a {
    width: 200px;
    padding: 0.6rem 0;
    font-size: 16px;
  }

  #navigation>ul li span {
    width: 26px;
    height: 26px;
    margin: 0 0.75rem;
  }

  #navigation>ul li span img {
    width: 16px;
  }

  #navigation.active .nav-bottom {
    border-top: 0;
  }

  #navigation.active .nav-setting {
    display: none;
    opacity: 0;
  }

  .nav-bottom {
    padding: 1rem 1rem 2rem;
  }

  .nav-bottom .price {
    font-size: 18px;
  }

  .nav-bottom .price span {
    width: 20px;
  }

  .nav-bottom .social {
    margin-top: 1rem;
  }

  .nav-bottom .social .language span {
    width: 20px;
  }

  .nav-bottom .social>div {
    margin-left: 2rem;
  }

  .nav-bottom .social>div p:first-child {
    width: 20px;
  }

  .nav-bottom .social>div p:last-child {
    width: 22px;
  }

  /* ------ screen01 ------- */
  .screen01 {
    min-height: auto;
    padding-top: 4rem;
  }

  .sc01-img {
    max-width: 320px;
    padding-left: 0;
    padding-right: 4rem;
    margin: 3rem auto 0;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }

  .sc01-img li:nth-child(2) {
    width: 60px;
  }

  .sc01-img li:nth-child(3) {
    width: 40px;
  }

  .sc01-img li:nth-child(4) {
    width: 50px;
    left: 0;
  }

  .sc01-img li:nth-child(5) {
    width: 40px;
  }

  .screen01 h3 {
    max-width: none;
    font-size: 18px;
    line-height: 2.5rem;
    text-align: center;
  }

  .screen01 h3 span {
    font-size: 30px;
    margin-bottom: 0;
  }

  .screen01 h3 span::before {
    width: 56px;
    height: 60px;
    top: -3.5rem;
    left: calc(50% - 28px);
  }

  .sc01-btn {
    text-align: center;
  }

  .sc01-btn a {
    padding: 0.5rem 1.25rem;
  }

  /* ------ screen02 ------- */
  .screen02 {
    min-height: auto;
    padding-bottom: 6rem;
    padding-top: 3.5rem;
  }

  .screen02::after {
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 55px;
    height: 56px;
  }

  .screen02::before {
    right: 50%;
    transform: translateX(50%);
    top: 0;
    width: 60px;
    height: 60px;
  }

  .screen02 h3 {
    font-size: 18px;
    line-height: 2.5rem;
  }

  .screen02 h3 span {
    font-size: 30px;
  }

  .screen02 .des {
    font-size: 16px;
    margin-bottom: 2rem;
  }

  /* ------ screen03 ------- */
  .screen03 {
    min-height: auto;
  }

  .screen03::before {
    content: none;
  }

  .screen03::after {
    width: 31px;
    height: 30px;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
  }

  .screen03 h3 {
    font-size: 30px;
    line-height: 2.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }

  .screen03 p br {
    display: none;
  }

  .sc03-right {
    text-align: left;
    display: unset;
    margin-top: 2rem;
  }

  .sc03-right-img {
    margin: 2rem auto;
    max-width: 187px;
  }

  .sc03-right-content p {
    max-width: none;
  }


  /* ------ screen04 ------- */
  .screen04 {
    min-height: auto;
    background: transparent;
    padding-top: 8rem;
    margin-bottom: 6rem;
    display: block;
  }

  .screen04 h3 {
    max-width: none;
    font-size: 18px;
    line-height: 2.5rem;
    text-align: center;
    width: 100%;
  }

  .screen04 h3 span {
    font-size: 30px;
    margin-bottom: 0;
  }


  .sc04-img {
    position: relative;
    top: 0;
    left: 0;
    max-width: 202px;
    margin: 3rem auto 0;
    transform: none;
  }

  .screen04 h3 span::before {
    width: 70px;
    height: 72px;
    top: -4.5rem;
    left: calc(50% - 35px);
  }

  .screen04 h3::after {
    content: none;
  }

  /* ------ screen05 ------- */
  .screen05 {
    min-height: auto;
  }

  .screen05::after {
    bottom: 0;
  }

  .screen05 h3 {
    font-size: 30px;
  }

  .sc05-prase {
    margin-top: 2rem;
  }

  .sc03-right-img::after {
    width: 55px;
    height: 56px;
  }

  .sc05-prase-item h4 {
    font-size: 20px;
    margin-bottom: 0.5rem;
  }

  .sc05-prase-item li {
    line-height: 1.5rem;
  }

}

@media only screen and (max-width: 640px) {
  .sc05-prase-item {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}